.action-bar {
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(0,0,0,.125);
    overflow: hidden;
}

.action-bar .float-left .btn {
    margin-right: 10px;
}

.action-bar .float-right .btn {
    margin-left: 10px;
}

.navbar a.dropdown-toggle {
    color: #DDDDDD;
}
.navbar a.dropdown-toggle:hover {
    color: #FFFFFF;
}


.commit-actions .btn {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: .8rem;
    vertical-align: center;
}

.ref-selector {
    padding: 15px 10px;
}

.lakefs-uri .octicon {
    color: #0c5460;
    margin-right: 5px;
}

.lakefs-uri a {
    color: #0f6674;
    text-decoration: underline;
}
.lakefs-uri {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: .9rem;
    color: #303030;
}

.lakefs-uri strong {
    margin: 0 5px;
}

.ref-selector form {
    margin-bottom: 10px;
}

.tree-path .octicon {
    color: #007bff;
    margin-right: 5px;
    font-size: .9rem;
}

.diff-removed .tree-path, .diff-removed .tree-path .octicon, .diff-removed .diff-indicator .octicon {
    color: #808080;
}


.diff-changed {
    background-color: #ffeeba;
}

.diff-added {
    background-color: #cdffd8;
}

.diff-removed {
    background-color: #ffdce0;
}

.table .tree-row {
border: 0;
}

.diff-indicator {
    width: 50px;
}

.diff-indicator span {
    padding: 0 10px;
}

.tree-container .alert {
    margin: 20px;
}

.tree-container {
    margin-bottom: 150px;
    font-size: .9rem;
}

.tree-container .card .card-header {
    padding: 10px;
}

.tree-container .card .card-body {
padding: 0;
}

.tree-container .card .card-body > .table {
    margin-bottom: 0;
}

.table .tree-row {
    border-bottom: 1px solid rgba(0,0,0,0.125);
}

.table .tree-row td {
    padding-top: 10px;
    padding-bottom: 10px;
}

.table .tree-row td .octicon {
    margin-top: -3px;
}

.table .tree-row td:first-child {
    padding-left: 20px;
}

.table .tree-row td:last-child {
    padding-right: 20px;
    text-align: right;
}

.btn.btn-link {
    vertical-align: top;
    line-height: inherit;
    padding: 0;
    display: inline;
}

.tree-container .btn.btn-link {
    font-size: .9rem;
}