.action-bar {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(0,0,0,.125);
    overflow: hidden;
}

.action-bar .float-left .btn {
    margin-right: 10px;
}

.action-bar .float-right .btn {
    margin-left: 10px;
}

.navbar a.dropdown-toggle {
    color: #DDDDDD;
}
.navbar a.dropdown-toggle:hover {
    color: #FFFFFF;
}

.tree-error {
    margin: 20px;
}

.tree-container {
    margin-bottom: 150px;
    font-size: .9rem;
}

.tree-container .card .card-body {
padding: 0;
}

.tree-container .card .card-body > .table {
    margin-bottom: 0;
}

.tree-container .card .card-body > .table tr {
    border-bottom: 1px solid rgba(0,0,0,0.125);
}

.tree-container .card .card-body > .table tr td {
    padding-top: 10px;
    padding-bottom: 10px;
}

.tree-container .card .card-body > .table tr td .octicon {
    margin-top: -3px;
}

.tree-container .card .card-body > .table tr td:first-child {
    padding-left: 20px;
}

.tree-container .card .card-body > .table tr td:last-child {
    padding-right: 20px;
    text-align: right;
}

.tree-path .octicon {
    color: #007bff;
    margin-right: 5px;
    font-size: .9rem;
}

.btn.btn-link {
    vertical-align: top;
    line-height: inherit;
    padding: 0;
    display: inline;
}

.tree-container .btn.btn-link {
    font-size: .9rem;
}