go 1.25.5

use (
	.
	./modules/api/factory
	./modules/auth/factory
	./modules/authentication/factory
	./modules/block/factory
	./modules/catalog/factory
	./modules/config/factory
	./modules/gateway/factory
	./modules/license/factory
	./webui
)
