java/**	linguist-generated=true
java-legacy/** linguist-generated=true
python/** linguist-generated=true
python-legacy/** linguist-generated=true
python/Gemfile linguist-generated=false
python/Gemfile.lock	linguist-generated=false
python/_config.yml linguist-generated=false
rust/** linguist-generated=true
