{{contenttype "application/x-conf" -}}
{{- with $creds := new_credentials "spark" -}}
spark.hadoop.fs.s3a.access.key {{$creds.Key}}
spark.hadoop.fs.s3a.secret.key {{$creds.Secret}}
{{- end}}
spark.hadoop.fs.s3a.impl org.apache.hadoop.fs.s3a.S3AFileSystem
spark.hadoop.fs.s3a.endpoint {{ .Query.lakefs_url }}
spark.hadoop.fs.s3a.path.style.access true
