version: "3"
services:
  lakefs:
    extends:
      file: esti/ops/docker-compose-common.yaml
      service: lakefs
    environment:
      - LAKEFS_AUTH_UI_CONFIG_RBAC=${LAKEFS_AUTH_UI_CONFIG_RBAC:-simplified}
      - LAKEFS_BLOCKSTORE_S3_CREDENTIALS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - LAKEFS_BLOCKSTORE_S3_CREDENTIALS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
      - LAKEFS_BLOCKSTORE_TYPE=${LAKEFS_BLOCKSTORE_TYPE:-local}
      - LAKEFS_DATABASE_TYPE=cosmosdb
      - LAKEFS_DATABASE_COSMOSDB_ENDPOINT
      - LAKEFS_DATABASE_COSMOSDB_DATABASE
      - LAKEFS_DATABASE_COSMOSDB_CONTAINER
      - LAKEFS_DATABASE_COSMOSDB_KEY
      - AZURE_CLIENT_ID
      - AZURE_CLIENT_SECRET
      - AZURE_TENANT_ID

  esti:
    extends:
      file: esti/ops/docker-compose-common.yaml
      service: esti
    environment:
      - ESTI_SKIP_TESTS=${ESTI_SKIP_TESTS:-TestUnifiedGC}
      - ESTI_LARGE_OBJECT_PATH
    command:
      - /bin/sh
      - -c
      - |
        apk add --no-cache util-linux
        go test -timeout 20m -v $$ESTI_GOTEST_FLAGS ./esti --system-tests $$ESTI_FLAGS --skip $$ESTI_SKIP_TESTS
    volumes:
      - lakefs-code:/lakefs
      - lakefs-app:/app:ro

volumes:
  lakefs-code:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${LAKEFS_ROOT:-.}
  lakefs-app:
