version: "3"
services:
  lakefs:
    extends:
      file: esti/ops/docker-compose-common.yaml
      service: lakefs
    depends_on:
      - "dynamodb"
    volumes:
      - lakefs-app:/app:ro
    environment:
      - LAKEFS_AUTH_API_ENDPOINT=${LAKEFS_AUTH_API_ENDPOINT:-}
      - LAKEFS_DATABASE_TYPE=dynamodb
      - LAKEFS_DATABASE_DYNAMODB_ENDPOINT=http://dynamodb:8000
      - LAKEFS_DATABASE_DYNAMODB_AWS_REGION=us-east-1
      - LAKEFS_DATABASE_DYNAMODB_AWS_ACCESS_KEY_ID=AKIAIO5FODNN7EXAMPLE
      - LAKEFS_DATABASE_DYNAMODB_AWS_SECRET_ACCESS_KEY=wJalrXUtnFEMI/K3MDENG/bPxRfiCYEXAMPLEKEY
      - LAKEFS_BLOCKSTORE_S3_CREDENTIALS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - LAKEFS_BLOCKSTORE_S3_CREDENTIALS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}

  dynamodb:
    extends:
      file: esti/ops/docker-compose-common.yaml
      service: dynamodb

  esti:
    extends:
      file: esti/ops/docker-compose-common.yaml
      service: esti
    environment:
      - ESTI_DATABASE_KV_ENABLED
      - ESTI_KV_MIGRATION=${ESTI_KV_MIGRATION:-none}
      - ESTI_SKIP_TESTS=${ESTI_SKIP_TESTS:-TestUnifiedGC}
      - LAKEFS_ROOT
    command:
      - /bin/sh
      - -c
      - |
        apk add --no-cache util-linux
        go test -v $$ESTI_GOTEST_FLAGS ./esti --system-tests $$ESTI_FLAGS --skip $$ESTI_SKIP_TESTS
    volumes:
      - lakefs-code:/lakefs
      - lakefs-app:/app:ro

volumes:
  lakefs-code:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${LAKEFS_ROOT:-.}
  lakefs-app:
