version: '3'
services:
  lakefs:
    image: "${REPO:-treeverse}/lakefs:${TAG:-dev}"
    command: "${COMMAND:-run}"
    ports:
      - "8000:8000"
    depends_on:
      - "dynamodb"
    volumes:
      - lakefs-app:/app:ro
    environment:
      - LAKEFS_AUTH_ENCRYPT_SECRET_KEY=some random secret string
      - LAKEFS_BLOCKSTORE_TYPE=${LAKEFS_BLOCKSTORE_TYPE:-local}
      - LAKEFS_BLOCKSTORE_LOCAL_PATH=/home/lakefs
      - LAKEFS_BLOCKSTORE_LOCAL_IMPORT_ENABLED=true
      - LAKEFS_BLOCKSTORE_LOCAL_ALLOWED_EXTERNAL_PREFIXES=/tmp
      - LAKEFS_BLOCKSTORE_S3_CREDENTIALS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - LAKEFS_BLOCKSTORE_S3_CREDENTIALS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
      - LAKEFS_LOGGING_LEVEL=DEBUG
      - LAKEFS_BLOCKSTORE_GS_CREDENTIALS_JSON
      - LAKEFS_STATS_ENABLED
      - LAKEFS_DATABASE_DYNAMODB_ENDPOINT=http://dynamodb:8000
      - ACTIONS_VAR=this_is_actions_var
      - LAKEFS_DATABASE_TYPE=dynamodb
      - LAKEFS_DATABASE_KV_ENABLED=true
      - LAKEFS_DATABASE_DYNAMODB_AWS_REGION=us-east-1
      - LAKEFS_DATABASE_DYNAMODB_AWS_ACCESS_KEY_ID=AKIAIO5FODNN7EXAMPLE
      - LAKEFS_DATABASE_DYNAMODB_AWS_SECRET_ACCESS_KEY=wJalrXUtnFEMI/K3MDENG/bPxRfiCYEXAMPLEKEY
    entrypoint: [ "/app/lakefs", "run" ]
  dynamodb:
    image: "amazon/dynamodb-local:1.18.0"
    ports:
      - "6432:8000"
  esti:
    image: "golang:1.20.6-alpine3.18"
    links:
      - lakefs:s3.local.lakefs.io
      - lakefs:testmultipartupload.s3.local.lakefs.io
      - lakefs:testmultipartuploadabort.s3.local.lakefs.io
      - lakefs:testdeleteobjects.s3.local.lakefs.io
      - lakefs:testmigrate-testpremigratemultipart.s3.local.lakefs.io
      - lakefs:migrate.s3.local.lakefs.io
    environment:
      - CGO_ENABLED=0
      - AWS_ACCESS_KEY_ID
      - AWS_SECRET_ACCESS_KEY
      - AWS_REGION=us-east-1
      - ESTI_TEST_DATA_ACCESS
      - ESTI_STORAGE_NAMESPACE
      - ESTI_BLOCKSTORE_TYPE
      - ESTI_AWS_ACCESS_KEY_ID
      - ESTI_SETUP_LAKEFS
      - ESTI_AWS_SECRET_ACCESS_KEY
      - ESTI_ENDPOINT_URL=http://lakefs:8000
      - ESTI_LAKECTL_DIR=/app
      - ESTI_DATABASE_KV_ENABLED
      - ESTI_KV_MIGRATION=${ESTI_KV_MIGRATION:-none}
      - ESTI_POST_MIGRATE
      - ESTI_GOTEST_FLAGS
      - ESTI_FLAGS
    working_dir: /lakefs
    command:
      - /bin/sh
      - -c
      - |
        apk add --no-cache util-linux
        go test -v $ESTI_GOTEST_FLAGS ./esti --system-tests $ESTI_FLAGS --skip=".*GC"
    volumes:
      - lakefs-code:/lakefs
      - lakefs-app:/app:ro

volumes:
  lakefs-code:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${LAKEFS_ROOT:-.}
  lakefs-app:

