services:
  lakefs:
    extends:
      file: ${OSS_ESTI_OPS_PATH:-esti/ops}/docker-compose-common.yaml
      service: lakefs
    depends_on:
      - "dynamodb"
    volumes:
      - lakefs-app:/app:ro
    environment:
      - LAKEFS_DATABASE_TYPE=dynamodb
      - LAKEFS_DATABASE_DYNAMODB_ENDPOINT=http://dynamodb:8000
      - LAKEFS_DATABASE_DYNAMODB_AWS_REGION=us-east-1
      - LAKEFS_DATABASE_DYNAMODB_AWS_ACCESS_KEY_ID=AKIAIO5FODNN7EXAMPLE
      - LAKEFS_DATABASE_DYNAMODB_AWS_SECRET_ACCESS_KEY=wJalrXUtnFEMI/K3MDENG/bPxRfiCYEXAMPLEKEY
      - LAKEFS_BLOCKSTORE_TYPE=s3
      - LAKEFS_BLOCKSTORE_S3_CREDENTIALS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - LAKEFS_BLOCKSTORE_S3_CREDENTIALS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}

  dynamodb:
    extends:
      file: ${OSS_ESTI_OPS_PATH:-esti/ops}/docker-compose-common.yaml
      service: dynamodb

  esti:
    extends:
      file: ${OSS_ESTI_OPS_PATH:-esti/ops}/docker-compose-common.yaml
      service: esti
    volumes:
      - lakefs-code:/lakefs
      - lakefs-app:/app:ro
      - /var/run/docker.sock:/var/run/docker.sock
      - ./test/spark/metaclient/spark-assembly.jar:/lakefs/test/spark/metaclient/spark-assembly.jar:ro
    environment:
      - SPARK_IMAGE_TAG=${SPARK_IMAGE_TAG:-3.2.1}
      - ESTI_FLAGS=-metaclient-jar=/lakefs/test/spark/metaclient/spark-assembly.jar -spark-image-tag=${SPARK_IMAGE_TAG:-3.2.1}

volumes:
  lakefs-code:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${LAKEFS_ROOT:-.}
  lakefs-app:
