@import url('pygments/igorpro.css');

@font-face {
	font-family: GalanoGrotesque-ExtraLight;
	src: local(GalanoGrotesque-ExtraLight),
		url('../fonts/Rene Bieder - Galano Grotesque ExtraLight.otf');
}
@font-face {
	font-family: GalanoGrotesque;
	src: local(GalanoGrotesque-Regular),
		url('../fonts/Rene Bieder - Galano Grotesque.otf');
}
@font-face {
	font-family: GalanoGrotesque-Bold;
	src: local(GalanoGrotesque-Bold),
		url('../fonts/Rene Bieder - Galano Grotesque Bold.otf');
}
@font-face {
	font-family: GalanoGrotesque-Medium;
	src: local(Rene-Bieder-Galano-Grotesque-Medium),
		url('../fonts/Rene Bieder - Galano Grotesque Medium.otf');
}

$white: #ffffff;
$pale-grey: #f1f9f9;
$light-blue-grey: #def1f1;
$info-blue: #3498db;
$info-blue-highlight: #2980b9;
$teal-green: #279890;
$black: #000000;
$battleship-grey: #6e7171;
$warm-grey: #7e7e7e;
$warm-grey-two: #949494;
$viridian: #258c82;
$aqua-marine: #2ce5b5;
$border-grey: #dadada;
$white-two: #f8f8f8;
$charcoal: #2f3433;
$note: #fff3e5;
$note-border: #f3a342;
$whitegrey: #f5f7f9;
$darkblue: #576489;
$darkblack: #575e65;
$lightgreen: #d8faf1;
$lightpink: #ffddec;
$bglinear: linear-gradient(#000 0%, #000 100%);

// General
html {
	scroll-padding-top: 90px;
}
body {
	font-family: GalanoGrotesque;
	color: $black;
	.body-wrapper,
	footer {
		display: flex;
		.main,
		.footer-main {
			width: 75%;
			max-width: 75%;
			margin-left: 0;
			float: right;
			position: relative;
			.main-content-wrap {
				max-width: 1300px;
				padding: 80px;
			}
		}

		.side-bar,
		.footer-sidebar {
			width: 25%;
			max-width: 25%;
			position: relative;
			height: auto;
			background-color: $whitegrey;
		}
	}

	a {
		color: $teal-green;
	}
	p, li{
		font-family: GalanoGrotesque;
	    font-size: 1em;
	}

	h1 {
		margin-top: 40px !important;
		font-family: GalanoGrotesque-Medium;
		font-size: 42px !important;
		color: $black;
	}
	h2 {
		margin-top: 40px !important;
		font-size: 28px !important;
		font-family: GalanoGrotesque-Medium;
		&#table-of-contents {
			font-family: GalanoGrotesque-Medium;
			color: $white;
			font-size: 14px !important;
		}
	}

	h3 {
		margin-top: 25px !important;
		font-size: 18px;
		font-weight: 600;
		font-family: GalanoGrotesque-Medium;
	}

	h4 {
		margin-top: 25px !important;
		font-size: 16px;
		font-weight: 600;
		font-family: GalanoGrotesque-Medium;
	}

	.text-delta {
		text-transform: none;
		width: 100%;
	    display: block;
	    background-color: $teal-green;
	    color: $white;
	    border-radius: 2px 2px 0 0;
	    font-size: 14px!important;
	    padding: 10px 15px 8px 15px;
	}
	.text-delta + ul{
		background-color: $whitegrey;
	    width: 100%;
	    border: none;
	    margin-top: 0;
	    border-radius: 0;
	    position: relative;
	    top: -3px;
	    padding: 15px 25px 15px 25px;
	    li{
	    	text-decoration: underline;
	    	&::before {
				content: none;
			}
			a:hover{
				background-image: none;
			}
			a{
				white-space: normal;
			}
	    }
	}
	#markdown-toc {
		background-color: $whitegrey;
	    width: 100%;
	    border: none;
	    margin-top: 0;
	    border-radius: 0;
	    position: relative;
	    top: -3px;
	    padding: 15px 25px 15px 25px;
		li {
			text-decoration: underline;
			&::before {
				display: none;
			}
			a {
				color: $teal-green;
				font-size: 1em;
				background-image: none;
				white-space: normal;
				&:hover {
					background-image: none;
					color: $teal-green;
				}
			}
			ol,
			ul {
				border: none;
				li {
					a {
						padding-bottom: 0;
					}
				}
			}
		}
	}

	div.highlighter-rouge pre.highlight {
		padding: 10px;
	}

	.highlight {

		code {
			background-color: transparent;
		}
	}

	.btn {
		padding: 6px 14px;
		color: $charcoal;
		font-family: GalanoGrotesque;
		border-radius: 4px;
		background: $white;
		border: solid 2px $charcoal;
		box-shadow: none;
		&:hover {
			border-color: $teal-green;
			color: $teal-green;
			background: $white;
		}
	}

	.btn-green {
		font-size: 16px;
		line-height: 1.63;
		letter-spacing: 0.05px;
		color: #ffffff;
		background-color: #279890;
		border: 2px solid #279890;
	 }

	.btn-green:hover {
		background-color: #ffffff; color: #279890;
	}

	.note {
		background-color: $whitegrey;
		border-left: 4px solid $aqua-marine;
		border-radius: 0px 2px 2px 0px;
		padding: 8px 20px;
	}
	.note-info {
		border-left: none;
		color: $black;
	    background-color: $aqua-marine;

		a {
			color: $black;
			font-weight: 500;
		}

		code {
			color: $black;
		}
	}


	.main-content {
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			&:hover {
				a.anchor-heading {
					left: -1.7rem;
					svg {
						display: none;
					}
					background-image: url('../../assets/icons/anchor.svg');
					width: 24px;
					height: 24px;
					background-repeat: no-repeat;
					background-size: contain;
					background-position: center center;
					&:hover {
						background-image: url('../../assets/icons/anchor\ green.svg');
					}
				}
			}
		}
		.toc-block {
			display: table-cell;
		}
	}
}

// Header

.main .main-header,
.side-bar .site-header {
	background-color: white;
	height: 80px;
	max-height: 80px;
	min-height: 80px;
	border: 0;
	position: fixed;
	z-index: 2;
}
.main .main-header {
	width: 75%;
	nav.aux-nav {
		width: 100%;
		padding: 0;
		max-width: 1080px;
		.aux-nav-list {
			justify-content: flex-end;
			padding: 20px 80px;
			.aux-nav-list-item {
				a.site-button {
					font-size: 16px;
					line-height: 1.63;
					letter-spacing: 0.05px;
					color: $black;
					margin: 0 4px;
					&:hover {
						background-image: none;
					}
				}
				&:hover,
				&.active {
					a {
						color: $teal-green;
					}
				}
				&.button {
					a.site-button {
						font-size: 16px;
						line-height: 1.63;
						letter-spacing: 0.05px;
						color: $white;
						margin: 0 0 0 20px;
						padding: 18px;
						border-radius: 2px;
						background-color: $teal-green;
						border: 2px solid $teal-green;
						&:hover {
							background-color: $white;
							color: $teal-green;
						}
					}
				}
			}
		}
	}
}
.side-bar:after {
	content: ' ';
	position: fixed;
	width: 100vw;
	top: 80px;
	box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.23);
	left: 0;
	right: 0;
	z-index: 0;
}
.side-bar .site-header {
	width: 25%;
	justify-content: flex-end;
	top: 0;
	a.site-title {
		max-width: 290px;
		padding: 0;

		.site-logo {
			width: 150px;
			height: inherit;
		}
		&:hover {
			background-image: none;
			background-color: transparent;
		}
	}
}

.site-logo {
	width: 135px;
	height: 30px;
}

// Sidebar
.side-bar {
	padding: 80px 0;
	border: 0;
	display: block;
	z-index: 1;

	nav.site-nav,
	nav.aux-nav {
		padding: 0;
		width: 100%;
		display: initial;
		.nav-list,
		.aux-nav-list {
			width: 100%;
			padding: 0;
			margin-top: 30px;
			.nav-list-item,
			.aux-nav-list-item {
				padding: 0;
				&:hover {
					background-color: $white;
				}
				&.active {
					&:hover {
						background-color: transparent;
					}
					.nav_list {
						li {
							padding-right: 0;
							padding-left: 0;
							&:hover {
								background-color: $white;
							}
						}
					}
				}

				&.header {
					padding: 12px 40px 12px calc(100% - 290px);
					color: $teal-green;
					font-family: GalanoGrotesque-Bold;
					font-size: 18px !important;
					letter-spacing: 1.1px;
					&:hover {
						background-color: transparent;
						background-image: none;
					}
					&:not(:first-of-type) {
						padding-top: 36px;
						border-top: 1px solid $border-grey;
						margin-top: 20px;
					}
				}

				a.nav-list-link {
					padding: 12px 40px 12px calc(100% - 290px);
					font-size: 14px !important;
					color: $darkblue;
					font-family: GalanoGrotesque;
					letter-spacing: 1.1px;
					&.active,
					&:hover {
						background-color: $white;
						background-image: none;
					}
				}
				a.nav-list-link.active{
					font-family: GalanoGrotesque-Medium!important;
    				color: $teal-green !important;
				}
				.nav-list-expander {
					right: 40px;
					width: 22px;
					height: 22px;
					padding: 0;
					margin: 14px 0 0 0;
					svg {
						color: $black;
					}
					&:hover {
						background-color: none;
						background-image: none;
					}
				}

				.nav-list,
				.aux-nav-list {
					margin-top: 0;
					a.nav-list-link,
					a.aux-nav-list-item {
						margin-left: 20px;
						font-size: 13px !important;
						letter-spacing: 0.05px;
					}
					.nav-list,
					.aux-nav-list {
						a.nav-list-link,
						a.aux-nav-list-item {
							margin-left: 30px;
							color: $warm-grey-two;
							font-size: 12px !important;
						}
					}
				}
			}
		}

        .nav-version {
            padding: 12px 40px 12px calc(100% - 290px);
        }

		.search {
			margin-top: 35px;
			margin-left: calc(100% - 290px);
			margin-right: 40px;
			max-width: 250px !important;
			max-height: 40px !important;
			width: 250px !important;
			z-index: 1;

			.search-input {
				background-color: $whitegrey;
				border: 1px solid $border-grey;
				border-radius: 4px;
				color: $battleship-grey;
				font-family: GalanoGrotesque-Medium;
				&:focus,
				&:active {
					background-color: $whitegrey;
					color: $battleship-grey;
				}
				.search-icon {
					color: $warm-grey-two;
				}
			}

			.search-input:focus + .search-label .search-icon {
				color: $warm-grey-two;
			}
		}
		.mobile-menu {
			display: none;
		}
	}
}

//Search Fixes
.search-active .main {
	position: inherit;
	right: inherit;
	left: inherit;
}
.search-overlay {
	display: none;
}
.search-result-doc .search-result-icon {
	color: $teal-green;
}
// Footer
footer {
	height: 360px;
	.footer-main {
		padding: 80px;
		ul {
			list-style: none;
			padding: 0;
			margin: 0;
			li {
				display: inline-block;
				padding: 0;
				margin: 0;
			}
		}
		.row {
			display: flex;
			.left {
				width: 70%;
			}
			.right {
				width: 30%;
				display: flex;
				justify-content: flex-end;
			}
			.site-title {
				padding: 0;
				margin-bottom: 30px;
				.site-logo {
					height: 45px;
				}
			}
			.footer-links {
				li {
					margin-right: 40px;
					a {
						padding: 0;
						color: $black;
						font-size: 18px;
						&:hover {
							color: $teal-green;
						}
					}
				}
			}
			.footer-social,
			.bottom-footer-links {
				li {
					a {
						padding: 0 15px;
						font-size: 16px;
						color: $warm-grey-two;
						&:last-of-type {
							padding-right: 0;
						}
						&:hover {
							color: $teal-green;
						}
					}
				}
			}
			.footer-social {
				li {
					a {
						img {
							&.hover {
								display: none;
							}
						}
						&:hover {
							img {
								&.no-hover {
									display: none;
								}
								&.hover {
									display: block;
								}
							}
						}
					}
				}
			}
		}
		.top-border {
			padding-top: 30px;
			margin-top: 30px;
			border-top: 1px solid $border-grey;
		}
		a:hover {
			background-color: transparent !important;
			background-image: none !important;
		}
	}
	.footer-sidebar {
		z-index: -1;
	}
}

@media (max-width: 799px) {
	body {
		padding-bottom: 0;
		.body-wrapper {
			display: block;
			.side-bar {
				width: 100%;
				max-width: 100%;
				padding: 0;
				.site-header {
					width: 100%;
					flex-direction: row-reverse;
					justify-content: flex-end;
					.site-button {
						padding: 11px 30px 0;
						width: 24px;
						height: 24px;
						background-repeat: no-repeat;
						background-size: auto;
						background-position: center center;
						background-image: url('../../assets/icons/menu.svg');
						&:hover,
						&:active,
						&:focus {
							background-color: transparent;
						}
						&.nav-open {
							background-image: url('../../assets/icons/close.svg');
						}
						svg {
							display: none;
						}
					}
				}

				nav {
					display: none;

					overflow: scroll;
					background: white;
					&.nav-open {
						display: block;
						position: fixed;
						top: 0;
						height: 100vh;
						.search {
							position: relative;
							margin-top: 120px;
							margin-left: 30px;
							margin-right: 30px;
							padding: 0;
							.search-results {
								display: block !important;
								max-height: 60vh !important;
							}
							.search-input {
								background-color: $white;
							}
							.search-input-wrap {
								box-shadow: none;
							}
						}
						.nav-list,
						.aux-nav-list {
							.nav-list-item,
							.aux-nav-list-item {
								padding-left: 30px !important;
								padding-right: 30px !important;

								a {
									padding-left: 0 !important;
									padding-right: 0 !important;
									&.active {
										background: unset;
									}
								}
							}
							.nav-list {
								margin-top: 0;
								a.nav-list-link {
									text-indent: 0;
								}
							}
						}
						.mobile-menu {
							display: block;
							border-top: 1px solid $border-grey;
							margin-top: 18px;
							padding-bottom: 80px;
							nav {
								display: block;
								.aux-nav-list {
									flex-direction: column;
									a.site-button {
										font-size: 18px !important;
										color: $black;
									}
									.button {
										.site-button {
											border-radius: 2px;
											border: solid 2px $teal-green;
											background-color: $white;
											color: $teal-green;
											padding: 10px 20px !important;
											display: inline-block;
											margin-top: 10px;
										}
									}
								}
							}
						}
					}
				}
			}
			.main {
				width: 100%;
				max-width: 100%;
				float: none;
				.main-header {
					display: none;
				}
				.main-content a {
					white-space: normal;
				}
				.main-content-wrap {
					padding: 80px 30px;
				}
			}
		}

		footer {
			border-top: 1px solid $border-grey;
			height: auto;
			.footer-sidebar {
				display: none;
			}
			.footer-main {
				width: 100%;
				max-width: 100%;
				padding: 60px 30px;
				float: none;
				.row {
					flex-direction: column;
					.right,
					.left {
						width: 100%;
						display: block;
					}
					.site-title {
						margin-bottom: 40px;
					}
					.footer-links {
						display: flex;
						flex-wrap: wrap;
						margin-bottom: 20px;
						li {
							margin: 0 0 30px;
							width: 50%;
						}
					}
					.footer-social {
						width: 100%;
						display: flex;
						justify-content: space-between;
						li {
							a {
								padding: 0;
								img {
									width: 34px;
									height: 34px;
								}
							}
						}
					}
					.bottom-footer-links {
						li {
							display: block;
							margin-top: 30px;
							a {
								padding: 0;
							}
						}
					}
					.top-border {
						padding-top: 40px;
						margin-top: 40px;
					}
				}
			}
		}
	}
}
.copy-code-container {
	position: absolute;
	right: 0.3em;
}
.copy-code-button:hover {
	color: $teal-green;
}

.copy-code-button:active {
	color: $white;
}
.copy-code-button {
	align-items: center;
	justify-content: center;
	border: none;
	cursor: pointer;
	font-size: 1rem;
	color: $black;
	padding: 0.4em 0.5em;
	background-color: transparent;
	outline:none;
}

.highlighter-rouge {
	position: relative;
}

.language-shell.highlighter-rouge pre.highlight::before,
.language-sh.highlighter-rouge pre.highlight::before,
.language-bash.highlighter-rouge pre.highlight::before{
	content: "$ ";
	color: $black;
	font-weight: 400;
	font-family: monospace;
	font-size: 0.75em;
}

th, td {
	background-color: transparent;
}

.main-content ul.ui-tabs-nav > li::before {
	content: "";
}

.tabs {
	background: transparent;
	&.ui-widget {
		.copy-code-button {
			font-family: "Font Awesome 6 Free" !important;
		}
	}
}

.tabs .ui-widget-header {
	background: transparent;
	border: none;
	border-bottom: 1px solid #d3d3d3;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}

.tabs .ui-tabs-nav .ui-state-default {
	background: transparent;
	border: none;
}
.tabs .ui-tabs-nav .ui-state-active {
	border: none;
}

.tabs .ui-tabs-nav .ui-state-default a {
	color: #c0c0c0;
}
.tabs .ui-tabs-nav .ui-state-active a {
	color: $teal-green;
}
/*overridden*/
div.highlighter-rouge{
	border-radius: 4px;
	&:hover {
		> button {
			cursor: pointer;
			opacity: 0.5;
		}
	}
}

.highlighter-rouge{

	button.copy-code-button{
		color: $black;
	}
}

/* Tooltip container */
.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 0;
	>a,span {
		text-decoration: underline;
		text-decoration-style: dotted;
		background-image: none;
	}
	.tooltiptext {
		visibility: hidden;
		text-decoration: none;
		background-color: $aqua-marine;
		color: $black;
		padding: 10px 20px;
		border-radius: 6px;
		position: absolute;
		z-index: 1;

		width: 400px;
		top: 100%;
		left: 50%;
		margin-left: -200px;
	}
	&:hover .tooltiptext {
		visibility: visible;
	}
	.tooltiptext::after {
		content: " ";
		position: absolute;
		color: $aqua-marine;
		bottom: 100%;  /* At the top of the tooltip */
		left: 50%;
		margin-left: -5px;
		border-width: 5px;
		border-style: solid;
		border-color: transparent transparent $aqua-marine transparent;
	}
}

.ui-dialog-titlebar {
	display: none;
}

.feedback-container {
	@media (max-width: 1024px) {
		display: none;
	}
	position: sticky;
	top: 180px;
	.feedback-buttons {
		position: absolute;
		right: 70px;
		margin-bottom: 20px;
		top: -55px;
		.tooltiptext {
			font-size: small;
			width: 150px;
			margin-left: -75px;
			text-align: center;
		}
		.page-helpful-btn {
			background: none !important;
			border-radius: 50%;
			border: solid $teal-green 2px;
			color: $teal-green;
			height: 40px;
			width: 40px;
			margin: 0 3px;
			cursor: pointer;
			&:focus-visible {
				outline: none;
			}
		}
	}
}

#is-helpful-ty {
	display: none;
	a {
		color: $teal-green !important;
	}
}
