version: '3'
services:
  lakefs:
    image: "${REPO:-treeverse}/lakefs:${TAG:-dev}"
    ports:
      - "8000:8000"
    depends_on:
      - "postgres"
    volumes: 
      - lakefs-app:/app:ro
    environment:
      - LAKEFS_AUTH_ENCRYPT_SECRET_KEY=some random secret string
      - LAKEFS_DATABASE_CONNECTION_STRING=postgres://lakefs:lakefs@postgres/postgres?sslmode=disable
      - LAKEFS_BLOCKSTORE_TYPE=${LAKEFS_BLOCKSTORE_TYPE:-local}
      - LAKEFS_BLOCKSTORE_LOCAL_PATH=/home/lakefs
      - LAKEFS_BLOCKSTORE_S3_CREDENTIALS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - LAKEFS_BLOCKSTORE_S3_CREDENTIALS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
      - LAKEFS_LOGGING_LEVEL=DEBUG
      - LAKEFS_BLOCKSTORE_GS_CREDENTIALS_JSON
      - LAKEFS_STATS_ENABLED
      - LAKEFS_BLOCKSTORE_AZURE_STORAGE_ACCOUNT
      - LAKEFS_BLOCKSTORE_AZURE_STORAGE_ACCESS_KEY
      - ACTIONS_VAR=this_is_actions_var
    entrypoint: ["/app/wait-for", "postgres:5432", "--", "/app/lakefs", "run"]
  postgres:
    image: "postgres:11"
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: lakefs
      POSTGRES_PASSWORD: lakefs
  nessie:
    image: "golang:1.17.8-alpine"
    links:
      - lakefs:s3.local.lakefs.io
      - lakefs:testmultipartupload.s3.local.lakefs.io
      - lakefs:testdeleteobjects.s3.local.lakefs.io
    environment:
      - CGO_ENABLED=0
      - AWS_ACCESS_KEY_ID
      - AWS_SECRET_ACCESS_KEY
      - AWS_REGION=us-east-1
      - NESSIE_TEST_DATA_ACCESS
      - NESSIE_STORAGE_NAMESPACE
      - NESSIE_AWS_ACCESS_KEY_ID
      - NESSIE_AWS_SECRET_ACCESS_KEY
      - NESSIE_ENDPOINT_URL=http://lakefs:8000
      - NESSIE_LAKECTL_DIR=/app
    working_dir: /lakefs
    entrypoint: ["/bin/sh", "./nessie/ops/nessie-bootstrap.sh"]
    volumes:
      - lakefs-code:/lakefs
      - lakefs-app:/app:ro 

volumes:
  lakefs-code:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ${LAKEFS_ROOT:-.}
  lakefs-app:

