aenum~=3.1.15
lakefs-sdk>=1.20.0, < 2
python-dateutil~=2.8.2
PyYAML~=6.0.1
six~=1.16.0
typing_extensions~=4.8.0
Sphinx~=7.2.6
sphinx-autodoc-typehints~=1.25.2
myst-parser~=2.0.0
pytest~=7.4.3
pytest-datafiles~=3.0.0
pandas~=2.1.4
pyarrow~=14.0.1
pillow~=10.2.0
setuptools~=68.2.2