{
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint",
        "compat",
        "react-hooks"
    ],
    "env": {
      "browser": true,
      "jest": true,
      "es6": true
    },
    "settings": {
      "react": {
        "version": "17.0"
      }
    },
    "rules": {
      "eqeqeq": "warn",
      "strict": "error",
      "react/prop-types": 0,
      "react/jsx-key": 0,
      "react/display-name": 0,
      "react-hooks/exhaustive-deps": ["warn", {
        "additionalHooks": "(useAPI|useAPIWithPagination)"
      }]
    },
    "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended",
      "plugin:react/recommended",
      "plugin:compat/recommended",
      "plugin:prettier/recommended"
    ],
    "globals": {
      "process": true
    }
}