.highlighter-rouge .highlight table td { padding: 5px; }
.highlighter-rouge .highlight table pre { margin: 0; }
.highlighter-rouge .highlight .cm {
  color: #999988;
  font-style: italic;
}
.highlighter-rouge .highlight .cp {
  color: #999999;
  font-weight: bold;
}
.highlighter-rouge .highlight .c1 {
  color: #999988;
  font-style: italic;
}
.highlighter-rouge .highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}
.highlighter-rouge .highlight .c, .highlighter-rouge .highlight .ch, .highlighter-rouge .highlight .cd, .highlighter-rouge .highlight .cpf {
  color: #999988;
  font-style: italic;
}
.highlighter-rouge .highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}
.highlighter-rouge .highlight .gd {
  color: #000000;
  background-color: #ffdddd;
}
.highlighter-rouge .highlight .ge {
  color: #000000;
  font-style: italic;
}
.highlighter-rouge .highlight .gr {
  color: #aa0000;
}
.highlighter-rouge .highlight .gh {
  color: #999999;
}
.highlighter-rouge .highlight .gi {
  color: #000000;
  background-color: #ddffdd;
}
.highlighter-rouge .highlight .go {
  color: #888888;
}
.highlighter-rouge .highlight .gp {
  color: #555555;
}
.highlighter-rouge .highlight .gs {
  font-weight: bold;
}
.highlighter-rouge .highlight .gu {
  color: #aaaaaa;
}
.highlighter-rouge .highlight .gt {
  color: #aa0000;
}
.highlighter-rouge .highlight .kc {
  color: #000000;
  font-weight: bold;
}
.highlighter-rouge .highlight .kd {
  color: #000000;
  font-weight: bold;
}
.highlighter-rouge .highlight .kn {
  color: #000000;
  font-weight: bold;
}
.highlighter-rouge .highlight .kp {
  color: #000000;
  font-weight: bold;
}
.highlighter-rouge .highlight .kr {
  color: #000000;
  font-weight: bold;
}
.highlighter-rouge .highlight .kt {
  color: #445588;
  font-weight: bold;
}
.highlighter-rouge .highlight .k, .highlighter-rouge .highlight .kv {
  color: #000000;
  font-weight: bold;
}
.highlighter-rouge .highlight .mf {
  color: #009999;
}
.highlighter-rouge .highlight .mh {
  color: #009999;
}
.highlighter-rouge .highlight .il {
  color: #009999;
}
.highlighter-rouge .highlight .mi {
  color: #009999;
}
.highlighter-rouge .highlight .mo {
  color: #009999;
}
.highlighter-rouge .highlight .m, .highlighter-rouge .highlight .mb, .highlighter-rouge .highlight .mx {
  color: #009999;
}
.highlighter-rouge .highlight .sb {
  color: #d14;
}
.highlighter-rouge .highlight .sc {
  color: #d14;
}
.highlighter-rouge .highlight .sd {
  color: #d14;
}
.highlighter-rouge .highlight .s2 {
  color: #d14;
}
.highlighter-rouge .highlight .se {
  color: #d14;
}
.highlighter-rouge .highlight .sh {
  color: #d14;
}
.highlighter-rouge .highlight .si {
  color: #d14;
}
.highlighter-rouge .highlight .sx {
  color: #d14;
}
.highlighter-rouge .highlight .sr {
  color: #009926;
}
.highlighter-rouge .highlight .s1 {
  color: #d14;
}
.highlighter-rouge .highlight .ss {
  color: #990073;
}
.highlighter-rouge .highlight .s, .highlighter-rouge .highlight .sa, .highlighter-rouge .highlight .dl {
  color: #d14;
}
.highlighter-rouge .highlight .na {
  color: #008080;
}
.highlighter-rouge .highlight .n {
  color: #032f62;
}
.highlighter-rouge .highlight .bp {
  color: #999999;
}
.highlighter-rouge .highlight .nb {
  color: #0086B3;
}
.highlighter-rouge .highlight .nc {
  color: #445588;
  font-weight: bold;
}
.highlighter-rouge .highlight .no {
  color: #008080;
}
.highlighter-rouge .highlight .nd {
  color: #3c5d5d;
  font-weight: bold;
}
.highlighter-rouge .highlight .ni {
  color: #800080;
}
.highlighter-rouge .highlight .ne {
  color: #990000;
  font-weight: bold;
}
.highlighter-rouge .highlight .nf, .highlighter-rouge .highlight .fm {
  color: #990000;
  font-weight: bold;
}
.highlighter-rouge .highlight .nl {
  color: #990000;
  font-weight: bold;
}
.highlighter-rouge .highlight .nn {
  color: #555555;
}
.highlighter-rouge .highlight .nt {
  color: #000080;
}
.highlighter-rouge .highlight .vc {
  color: #008080;
}
.highlighter-rouge .highlight .vg {
  color: #008080;
}
.highlighter-rouge .highlight .vi {
  color: #008080;
}
.highlighter-rouge .highlight .nv, .highlighter-rouge .highlight .vm {
  color: #008080;
}
.highlighter-rouge .highlight .ow {
  color: #000000;
  font-weight: bold;
}
.highlighter-rouge .highlight .o {
  color: #000000;
  font-weight: bold;
}
.highlighter-rouge .highlight .w {
  color: #bbbbbb;
}
.highlighter-rouge .highlight {
  background-color: #f8f8f8;
}
