@font-face {
  font-family: 'Rene-Bieder-Galano-Grotesque-Medium';
  src: url(../../fonts/Rene-Bieder-Galano-Grotesque-Medium.eot);
  src: url(../../fonts/Rene-Bieder-Galano-Grotesque-Medium.eot?#iefix) format('embedded-opentype'),
       url(../../fonts/Rene-Bieder-Galano-Grotesque-Medium.otf) format('otf'),
       url(../../fonts/Rene-Bieder-Galano-Grotesque-Medium.svg#Rene-Bieder-Galano-Grotesque-Medium) format('svg'),
       url(../../fonts/Rene-Bieder-Galano-Grotesque-Medium.ttf) format('truetype'),
       url(../../fonts/Rene-Bieder-Galano-Grotesque-Medium.woff) format('woff'),
       url(../../fonts/Rene-Bieder-Galano-Grotesque-Medium.woff2) format('woff2');
}

@font-face {
  font-family: 'Rene-Bieder-Galano-Grotesque-Bold';
  src: url(../../fonts/Rene-Bieder-Galano-Grotesque-Bold.eot);
  src: url(../../fonts/Rene-Bieder-Galano-Grotesque-Bold.eot?#iefix) format('embedded-opentype'),
       url(../../fonts/Rene-Bieder-Galano-Grotesque-Bold.otf) format('otf'),
       url(../../fonts/Rene-Bieder-Galano-Grotesque-Bold.svg#Rene-Bieder-Galano-Grotesque-Bold) format('svg'),
       url(../../fonts/Rene-Bieder-Galano-Grotesque-Bold.ttf) format('truetype'),
       url(../../fonts/Rene-Bieder-Galano-Grotesque-Bold.woff) format('woff'),
       url(../../fonts/Rene-Bieder-Galano-Grotesque-Bold.woff2) format('woff2');
}
.highlighter-rouge .highlight table td { padding: 5px; }
.highlighter-rouge .highlight table pre { margin: 0; }
.highlighter-rouge .highlight .cm {
  color: #999988;
  font-style: italic;
}
.highlighter-rouge .highlight .cp {
  color: #999999;
  font-weight: bold;
}
.highlighter-rouge .highlight .c1 {
  color: #999988;
  font-style: italic;
}
.highlighter-rouge .highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}
.highlighter-rouge .highlight .c, .highlighter-rouge .highlight .ch, .highlighter-rouge .highlight .cd, .highlighter-rouge .highlight .cpf {
  color: #999988;
  font-style: italic;
}
.highlighter-rouge .highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}
.highlighter-rouge .highlight .gd {
  color: #000000;
  background-color: #ffdddd;
}
.highlighter-rouge .highlight .ge {
  color: #000000;
  font-style: italic;
}
.highlighter-rouge .highlight .gr {
  color: #aa0000;
}
.highlighter-rouge .highlight .gh {
  color: #999999;
}
.highlighter-rouge .highlight .gi {
  color: #000000;
  background-color: #ddffdd;
}
.highlighter-rouge .highlight .go {
  color: #888888;
}
.highlighter-rouge .highlight .gp {
  color: #555555;
}
.highlighter-rouge .highlight .gs {
  font-weight: bold;
}
.highlighter-rouge .highlight .gu {
  color: #aaaaaa;
}
.highlighter-rouge .highlight .gt {
  color: #aa0000;
}
.highlighter-rouge .highlight .kc {
  color: #000000;
  font-weight: bold;
}
.highlighter-rouge .highlight .kd {
  color: #000000;
  font-weight: bold;
}
.highlighter-rouge .highlight .kn {
  color: #000000;
  font-weight: bold;
}
.highlighter-rouge .highlight .kp {
  color: #000000;
  font-weight: bold;
}
.highlighter-rouge .highlight .kr {
  color: #000000;
  font-weight: bold;
}
.highlighter-rouge .highlight .kt {
  color: #445588;
  font-weight: bold;
}
.highlighter-rouge .highlight .k, .highlighter-rouge .highlight .kv {
  color: #000000;
  font-weight: bold;
}
.highlighter-rouge .highlight .mf {
  color: #009999;
}
.highlighter-rouge .highlight .mh {
  color: #009999;
}
.highlighter-rouge .highlight .il {
  color: #009999;
}
.highlighter-rouge .highlight .mi {
  color: #009999;
}
.highlighter-rouge .highlight .mo {
  color: #009999;
}
.highlighter-rouge .highlight .m, .highlighter-rouge .highlight .mb, .highlighter-rouge .highlight .mx {
  color: #009999;
}
.highlighter-rouge .highlight .sb {
  color: #d14;
}
.highlighter-rouge .highlight .sc {
  color: #d14;
}
.highlighter-rouge .highlight .sd {
  color: #d14;
}
.highlighter-rouge .highlight .s2 {
  color: #d14;
}
.highlighter-rouge .highlight .se {
  color: #d14;
}
.highlighter-rouge .highlight .sh {
  color: #d14;
}
.highlighter-rouge .highlight .si {
  color: #d14;
}
.highlighter-rouge .highlight .sx {
  color: #d14;
}
.highlighter-rouge .highlight .sr {
  color: #009926;
}
.highlighter-rouge .highlight .s1 {
  color: #d14;
}
.highlighter-rouge .highlight .ss {
  color: #990073;
}
.highlighter-rouge .highlight .s, .highlighter-rouge .highlight .sa, .highlighter-rouge .highlight .dl {
  color: #d14;
}
.highlighter-rouge .highlight .na {
  color: #008080;
}
.highlighter-rouge .highlight .n {
  color: #032f62;
}
.highlighter-rouge .highlight .bp {
  color: #999999;
}
.highlighter-rouge .highlight .nb {
  color: #0086B3;
}
.highlighter-rouge .highlight .nc {
  color: #445588;
  font-weight: bold;
}
.highlighter-rouge .highlight .no {
  color: #008080;
}
.highlighter-rouge .highlight .nd {
  color: #3c5d5d;
  font-weight: bold;
}
.highlighter-rouge .highlight .ni {
  color: #800080;
}
.highlighter-rouge .highlight .ne {
  color: #990000;
  font-weight: bold;
}
.highlighter-rouge .highlight .nf, .highlighter-rouge .highlight .fm {
  color: #990000;
  font-weight: bold;
}
.highlighter-rouge .highlight .nl {
  color: #990000;
  font-weight: bold;
}
.highlighter-rouge .highlight .nn {
  color: #555555;
}
.highlighter-rouge .highlight .nt {
  color: #000080;
}
.highlighter-rouge .highlight .vc {
  color: #008080;
}
.highlighter-rouge .highlight .vg {
  color: #008080;
}
.highlighter-rouge .highlight .vi {
  color: #008080;
}
.highlighter-rouge .highlight .nv, .highlighter-rouge .highlight .vm {
  color: #008080;
}
.highlighter-rouge .highlight .ow {
  color: #000000;
  font-weight: bold;
}
.highlighter-rouge .highlight .o {
  color: #000000;
  font-weight: bold;
}
.highlighter-rouge .highlight .w {
  color: #bbbbbb;
}
.highlighter-rouge .highlight {
  background-color: #f8f8f8;
}
/*new style css*/
body .body-wrapper .side-bar, body .body-wrapper .footer-sidebar, body footer .side-bar, body footer .footer-sidebar, .side-bar #search-input{
      background-color: #f5f7f9!important;
}
.search-label .search-icon{
  color: #949494!important;
}
.side-bar #search-input{
  font-family: 'Rene-Bieder-Galano-Grotesque-Medium'!important;
  color: #6e7171;
}
.side-bar #search-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #6e7171;
}

.side-bar #search-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #6e7171;
}

.side-bar #search-input::-ms-input-placeholder { /* Microsoft Edge */
  color: #6e7171;
}
.side-bar #site-nav .nav-list-link, #main-content p{
  font-family: 'Rene-Bieder-Galano-Grotesque-Medium'!important;
  font-size: 14px !important;
}
.side-bar #site-nav .nav-list-link:hover, .side-bar #site-nav .nav-list .nav-list .nav-list-item:hover, .side-bar #site-nav .nav-list .nav-list .nav-list-item.active {
  background-color: #fff!important;
}
.side-bar .nav-list-link.active, .side-bar #site-nav .nav-list .nav-list .nav-list-item .nav-list-link.active{
  background-color: #fff!important;
  font-family: 'Rene-Bieder-Galano-Grotesque-Bold'!important;
  color: #279890!important;
}
#main-content h1{
      font-size: 42px!important;
}
#main-content h1, #main-content h2{
  font-family: 'Rene-Bieder-Galano-Grotesque-Medium'!important;
}
#main-content h2{
  font-size:28px!important;
}
#main-content h3{
  font-family: 'Rene-Bieder-Galano-Grotesque-Bold'!important;
  font-size:18px!important;
}
.side-bar #site-nav .nav-list .nav-list .nav-list-item .nav-list-link{
  font-size: 13px!important;
  color: #576489;
}
body .note{
  border-radius: 0px 2px 2px 0px!important;
  border-left: 4px solid #2ce5b5!important;
  font-size:16px!important;
  background-color: #f5f7f9!important;
  font-family: 'Rene-Bieder-Galano-Grotesque-Medium'!important;
}
body .note.note-info{
  border-left: none!important;
  background-color: #2ce5b5!important;
  color:#000!important;
  font-size:14px!important;
}
body .note.note-info a{
  color:#000!important;
  background-image: linear-gradient(#000 0%, #000 100%)!important;
}
#main-content .text-delta,#main-content #table-of-contents{
    width: 100%;
    max-width: 264px;
    display: block!important;
    background-color: #279890!important;
    color: #fff!important;
    border-radius: 2px 2px 0 0!important;
    font-size: 14px!important;
    padding: 10px 15px 8px 15px!important;
    font-family: 'Rene-Bieder-Galano-Grotesque-Medium'!important;
}
.text-delta + ul, #main-content #markdown-toc{
  background-color: #f5f7f9!important;
  width: 100%!important;
  max-width: 264px!important;
  border:none!important;
  margin-top: 0!important;
  border-radius: 0!important;
  position: relative!important;
  top: -3px;
  padding: 15px 25px 15px 25px!important;
}
.text-delta + ul li:before, #markdown-toc li{
  content: none!important;
}
.text-delta + ul li a,#markdown-toc li a{
  font-size: 14px!important;
  color: #279890!important;
  font-family: 'Rene-Bieder-Galano-Grotesque-Medium'!important;
  text-decoration: underline;
  white-space: normal;
}
div.highlighter-rouge{
  border-radius: 4px;
  background-color: #575e65!important;
}

code{
  background-color: #d8faf1!important;
  border: 1px solid #d8faf1!important;
}
.highlighter-rouge .highlight,.highlight code{
  background-color: #575e65!important;
  border: 0px solid #d8faf1!important;
}
.highlighter-rouge .highlight:before,.highlighter-rouge .highlight code, .highlighter-rouge .highlight .nt,
.highlighter-rouge .highlight .s1, .copy-code-button, .highlight .nb, .highlight .na, .highlight .pi, .highlight .c1,.highlight  .nv
, .highlight .o, .highlight  .se, .highlight .si , .highlight .nl, .highlight .k, .highlight .py, .highlight .nf,.highlight .n, .highlight .kt
, .highlight .nn, .highlight .nc, .highlight .sh , .highlight .no, .highlight .p, .highlight .kn, .highlight .ow{
  color: #def1f1!important;
}
.highlighter-rouge .highlight code .c, .highlight code .s, .highlight .s2, .highlight .m{
  color: #ffddec!important;
}
body .note-info code{
  color: #000!important;
}
