# MkDocs settings
dev_addr: 127.0.0.1:4000
site_name: lakeFS Documentation
site_url: https://docs.lakefs.io/
repo_url: https://github.com/treeverse/lakeFS
repo_name: treeverse/lakeFS
site_description: Open Source Data Version Control for Data Lakes and Lakehouses
site_dir: site
docs_dir: src
use_directory_urls: true
watch:
  - overrides
extra_css:
  - assets/css/overrides.css

# Material theme settings
theme:
  name: material
  logo: assets/logo.svg
  custom_dir: overrides
  favicon: favicon.ico
  features:
    - content.footnote.tooltips
    - content.code.copy
    - content.tabs.link
    - content.tooltips
    - search.suggest
    - search.share
  icon:
    repo: fontawesome/brands/github
  palette:
    primary: white
    accent: teal

# Other settings
extra:
  scope: "/"
  consent:
    title: Cookie consent
    description: >-
      We use cookies to recognize your repeated visits and preferences, as well
      as to measure the effectiveness of our documentation and whether users
      find what they're searching for. With your consent, you're helping us to
          make our documentation better.
    cookies:
      gtm: Google Tag Manager
  homepage: https://lakefs.io
  status:
    new: New
    enterprise: Enterprise Feature
    deprecated: Deprecated Feature
    experimental: Experimental Feature
  version:
    provider: mike
    default: latest
    alias: true
  icon:
    repo: fontawesome/brands/github
  palette:
    primary: white
    accent: teal
  analytics:
    provider: gtm

# Markdown settings
markdown_extensions:
  - toc:
      permalink: true
      toc_depth: 5
  - tables
  - footnotes
  - fenced_code
  - attr_list
  - def_list
  - admonition
  - codehilite
  - pymdownx.highlight:
        anchor_linenums: true
        line_spans: __span
        pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.emoji:  # support emojis
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.superfences:  # support mermaid diagrams
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:  # support linking to tabs
      alternate_style: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
  - pymdownx.tasklist:  # support TODO lists
      custom_checkbox: true
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.details

plugins:
  - mike:
      version_selector: true
  - search
  - render_swagger:
      allow_arbitrary_locations : true
  - meta

# This section is used to generate the navigation sidebar
nav:
  - Welcome to lakeFS: index.md
  - Quickstart:
    - Overview: quickstart/index.md
    - "1\uFE0F\u20E3 Run lakeFS": quickstart/launch.md
    - "2\uFE0F\u20E3 Query the data": quickstart/query.md
    - "3\uFE0F\u20E3 Create a branch": quickstart/branch.md
    - "4\uFE0F\u20E3 Commit and Merge": quickstart/commit-and-merge.md
    - "5\uFE0F\u20E3 Roll back Changes": quickstart/rollback.md
    - "6\uFE0F\u20E3 Using Actions and Hooks in lakeFS": quickstart/actions-and-hooks.md
    - "7\uFE0F\u20E3 Work with lakeFS data locally": quickstart/work-with-data-locally.md
    - Learn more about lakeFS: quickstart/learning-more-lakefs.md
  - How-To:
    - Install lakeFS:
      - Overview: howto/deploy/index.md
      - AWS: howto/deploy/aws.md
      - Azure: howto/deploy/azure.md
      - GCP: howto/deploy/gcp.md
      - On-Premises: howto/deploy/onprem.md
      - Upgrade lakeFS: howto/deploy/upgrade.md
    - Actions and Hooks:
      - Overview: howto/hooks/index.md
      - Airflow Hooks: howto/hooks/airflow.md
      - Lua Hooks: howto/hooks/lua.md
      - Webhooks: howto/hooks/webhooks.md
    - Backup and Restore Repository: howto/backup-and-restore.md
    - Branch Protection: howto/protect-branches.md
    - Copying data to/from lakeFS: howto/copying.md
    - Data Catalogs Exports: howto/catalog_exports.md
    - Export Data: howto/export.md
    - Garbage Collection:
      - Garbage Collection: howto/garbage-collection/gc.md
      - Managed Garbage Collection: howto/garbage-collection/managed-gc.md
      - Standalone Garbage Collection: howto/garbage-collection/standalone-gc.md
    - Import Data: howto/import.md
    - Migrating away from lakeFS: howto/migrate-away.md
    - Mirroring: howto/mirroring.md
    - Multiple Storage Backend: howto/multiple-storage-backends.md
    - Private Link: howto/private-link.md
    - Pull Requests: howto/pull-requests.md
    - S3 Virtual-host addressing (advanced): howto/virtual-host-addressing.md
    - Sizing Guide: howto/sizing-guide.md
    - System for Cross-domain Identity Management (SCIM): howto/scim.md
    - Work with lakeFS data locally: howto/local-checkouts.md
  - Integrations:
    - Overview: integrations/index.md
    - AWS CLI: integrations/aws_cli.md
    - Airbyte: integrations/airbyte.md
    - Amazon Athena: integrations/athena.md
    - Amazon SageMaker: integrations/sagemaker.md
    - Apache Airflow: integrations/airflow.md
    - Apache Hive: integrations/hive.md
    - Apache Iceberg: integrations/iceberg.md
    - Apache Kafka: integrations/kafka.md
    - Apache Spark: integrations/spark.md
    - Cloudera: integrations/cloudera.md
    - Databricks: integrations/databricks.md
    - Delta Lake: integrations/delta.md
    - Dremio: integrations/dremio.md
    - DuckDB: integrations/duckdb.md
    - Git: integrations/git.md
    - Glue / Hive metastore: integrations/glue_hive_metastore.md
    - Glue Data Catalog: integrations/glue_metastore.md
    - HuggingFace Datasets: integrations/huggingface_datasets.md
    - Kubeflow: integrations/kubeflow.md
    - MLflow: integrations/mlflow.md
    - Presto / Trino: integrations/presto_trino.md
    - Python: integrations/python.md
    - R: integrations/r.md
    - Red Hat OpenShift AI: integrations/red_hat_openshift_ai.md
    - Unity Catalog: integrations/unity-catalog.md
    - Vertex AI: integrations/vertex_ai.md
  - Understanding lakeFS:
    - Overview: understand/index.md
    - Architecture: understand/architecture.md
    - Concepts and  Model: understand/model.md
    - Data Lifecycle Management:
      - Overview: understand/data_lifecycle_management/index.md
      - In Test: understand/data_lifecycle_management/data-devenv.md
      - During Deployment: understand/data_lifecycle_management/ci.md
      - In Production: understand/data_lifecycle_management/production.md
    - Data Structure: understand/data-structure.md
    - FAQ: understand/faq.md
    - Glossary: understand/glossary.md
    - How lakeFS Works:
      - Overview: understand/how/index.md
      - Internal database structure: understand/how/kv.md
      - Merge: understand/how/merge.md
      - Versioning Internals: understand/how/versioning-internals.md
    - Performance Best Practices: understand/performance-best-practices.md
    - Use Cases:
      - Overview: understand/use_cases/index.md
      - CI/CD for Data Lakes: understand/use_cases/cicd_for_data.md
      - ETL Testing Environment: understand/use_cases/etl_testing.md
      - Reproducibility: understand/use_cases/reproducibility.md
      - Rollback: understand/use_cases/rollback.md
  - Reference:
    - Overview: reference/index.md
    - Mount:
      - Overview: reference/mount.md
      - Mount CSI Driver: reference/mount-csi-driver.md
      - Mount Write Mode Semantics: reference/mount-write-mode-semantics.md
    - Auditing: reference/auditing.md
    - Monitoring using Prometheus: reference/monitor.md
    - S3 Gateway API: reference/s3.md
    - Spark Client: reference/spark-client.md
    - lakeFS API: reference/api.md
    - lakeFS Server Configuration: reference/configuration.md
    - lakectl (lakeFS command-line tool): reference/cli.md
  - The lakeFS Project:
    - Overview: project/index.md
    - Contributing to lakeFS: project/contributing.md
    - Documentation: project/docs.md
    - Migrating to 1.0: project/code-migrate-1.0-sdk.md
  - lakeFS Cloud: cloud/index.md
  - lakeFS Enterprise:
    - Overview: enterprise/index.md
    - Get Started:
      - Overview: enterprise/getstarted/index.md
      - Quickstart: enterprise/getstarted/quickstart.md
      - Install: enterprise/getstarted/install.md
      - Migrate from lakeFS OSS: enterprise/getstarted/migrate-from-oss.md
    - Upgrade: enterprise/upgrade.md
    - Troubleshooting lakeFS Enterprise: enterprise/troubleshooting.md
    - Configuration Reference: enterprise/configuration.md
    - Architecture: enterprise/architecture.md
  - Security:
    - Overview: security/index.md
    - ACL Server Implementation: security/ACL-server-implementation.md
    - Access Control Lists (ACLs): security/access-control-lists.md
    - Authentication: security/authentication.md
    - Authorization API: security/authorization-yaml.md
    - Login to lakeFS with AWS IAM Roles: security/external-principals-aws.md
    - Presigned URLs: security/presigned-url.md
    - Remote Authenticator: security/remote-authenticator.md
    - Role-Based Access Control (RBAC): security/rbac.md
    - Short-lived token (STS like) Authentication for lakeFS: security/sts-login.md
    - Single Sign On (SSO): security/sso.md
