name: Close stale PRs

on:
  schedule:
    - cron: '30 1 * * *'
  workflow_dispatch:
jobs:
  stale:
    name: Close stale issues and PRs
    runs-on: ubuntu-latest
    steps:
    - name: Close stale issues and PRs
      uses: actions/stale@v8
      with:
        stale-pr-message: 'This PR is now marked as stale after 30 days of inactivity, and will be closed soon. To keep it, mark it with the "no stale" label.'
        close-pr-message: 'Closing this PR because it has been stale for 7 days with no activity.'
        days-before-pr-stale: 30
        days-before-close: 7
        stale-pr-label: stale
        exempt-pr-labels: 'no stale'
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        operations-per-run: 300
