name: Docker
on:
  release:
    types: [published]

# These permissions are needed to interact with GitHub's OIDC Token endpoint.
permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    name: Build and push Docker image
    runs-on: ubuntu-20.04
    steps:

      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup NodeJS
        uses: actions/setup-node@v3
        with:
          node-version: '16.15.0'

      - name: Set up Go
        uses: actions/setup-go@v1
        with:
          go-version: 1.17.8
        id: go

      - name: Generate code
        run: make gen

      - name: Checks validator
        run: make checks-validator
        env:
          GOLANGCI_LINT_FLAGS: --out-format github-actions

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-region: us-east-1
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}

      - name: Extract version
        shell: bash
        run: echo "::set-output name=tag::$(echo ${GITHUB_REF##*/} | sed s/^v//g)"
        id: version

      - name: Extract db schema version from ddl migration files
        run: echo "::set-output name=dbschema_version::$( (cd pkg/ddl/ && ls -d *.up.sql) | sed -nE '$s/^0*([0-9]+).*/\1/p' )"
        id: schema

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1

      - name: Build and push to Amazon ECR
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          ECR_REPOSITORY_LAKEFS: lakefs
          ECR_REPOSITORY_LAKECTL: lakectl
          DOCKER_BUILDKIT: '1'
        run: |
          docker build --target lakectl -t $ECR_REGISTRY/$ECR_REPOSITORY_LAKECTL:${{ steps.version.outputs.tag }} --build-arg VERSION=${{ steps.version.outputs.tag }} --label db-schema-version=${{ steps.schema.outputs.dbschema_version}} .
          docker push $ECR_REGISTRY/$ECR_REPOSITORY_LAKECTL:${{ steps.version.outputs.tag }}
          docker build -t $ECR_REGISTRY/$ECR_REPOSITORY_LAKEFS:${{ steps.version.outputs.tag }} --build-arg VERSION=${{ steps.version.outputs.tag }} --label db-schema-version=${{ steps.schema.outputs.dbschema_version}} .
          docker push $ECR_REGISTRY/$ECR_REPOSITORY_LAKEFS:${{ steps.version.outputs.tag }}
      - name: Build and push lakectl to Docker hub
        uses: docker/build-push-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          build_args: VERSION=${{ steps.version.outputs.tag }}
          labels: db-schema-version=${{ steps.schema.outputs.dbschema_version}}
          target: lakectl
          repository: treeverse/lakectl
          tags: ${{ steps.version.outputs.tag }},latest

      - name: Build and push lakefs to Docker hub
        uses: docker/build-push-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          build_args: VERSION=${{ steps.version.outputs.tag }}
          labels: db-schema-version=${{ steps.schema.outputs.dbschema_version}}
          target: lakefs
          repository: treeverse/lakefs
          tags: ${{ steps.version.outputs.tag }},latest
