name: documentation latest

on:
  push:
    paths:
      - "docs/**"
    branches:
      - master

jobs:
  docs-latest:
    name: Documentation latest
    runs-on: ubuntu-20.04
    steps:
      - name: Check-out
        uses: actions/checkout@v3

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          working-directory: docs
          ruby-version: '2.6'
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically

      - name: Build latest
        id: build-latest
        working-directory: docs
        run: bundle exec jekyll build --config _config.yml -d _site/

      - name: Publish to docs repository
        uses: dmnemec/copy_file_to_another_repo_action@v1.1.1
        env:
          API_TOKEN_GITHUB: ${{ secrets.PERSONAL_TOKEN }}
        with:
          source_file: docs/_site/.
          destination_repo: treeverse/docs-lakeFS
          destination_folder: /
          user_email: 'support@treeverse.io'
          user_name: 'docs-action'

