name: Go
on:
  push:
    branches:
      - master
  pull_request:
jobs:
  validator:
    name: Run Linters and Checkers
    runs-on: ubuntu-20.04
    steps:
      - name: Check-out code
        uses: actions/checkout@v2
        with:
          fetch-depth: '1'
      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.15.2
        id: go
      - name: Generated code
        run: make gen
      - name: Checks validator
        run: make checks-validator
        env:
          GOLANGCI_LINT_FLAGS: --out-format github-actions
      - name: gitLeaks
        uses: zricethezav/gitleaks-action@v1.1.4

  test:
    name: Run Test Suite
    runs-on: ubuntu-20.04
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v2
      - name: Setup UI (node 10)
        uses: actions/setup-node@v1
        with:
          node-version: '10.x'
      - name: Cache node_modules
        uses: actions/cache@v2
        env:
          cache-name: cache-node-modules
        with:
          path: node_modules/
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('webui/package-lock.json') }}
          restore-keys:
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-
      - name: Install UI dependencies
        run: npm install
        working-directory: ./webui
      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.15.2
        id: go
      - name: Run tests
        run: |
          make test
      - name: Publish coverage
        uses: codecov/codecov-action@v1
        with:
          files: ./cover.out,api/cover.out
          fail_ci_if_error: false
