name: Go
on:
  push:
    branches:
      - master
  pull_request:
jobs:
  validator:
    name: Run Linters and Checkers
    runs-on: ubuntu-latest
    steps:
      - name: Check-out code
        uses: actions/checkout@v2
      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.15.2
        id: go
      - name: Generated code
        run: make gen
      - name: Checks validator
        run: make checks-validator
        env:
          GOLANGCI_LINT_FLAGS: --out-format github-actions
      - name: gitLeaks
        uses: zricethezav/gitleaks-action@v1.1.2

  test:
    name: Run Test Suite
    runs-on: ubuntu-latest
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v2
      - name: Setup UI (node 10)
        uses: actions/setup-node@v1
        with:
          node-version: '10.x'
      - name: Install UI dependencies
        run: npm install
        working-directory: ./webui
      - name: Run UI tests
        run: npm test
        env:
          CI: true
        working-directory: ./webui
      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.15.2
        id: go
      - name: Run tests
        run: |
          make test
      - name: Publish coverage
        uses: codecov/codecov-action@v1
        with:
          files: ./cover.out,api/cover.out
          fail_ci_if_error: false
