name: Nessie
on:
  push:
    branches:
      - master
  pull_request:
jobs:
  run-system:
    name: Run latest lakeFS app
    runs-on: ubuntu-latest
    env:
      BUCKET: s3://nessie-system-testing/${{ github.run_number }}
      AWS_ACCESS_KEY_ID: ${{ secrets.NESSIE_AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.NESSIE_AWS_SECRET_ACCESS_KEY }}
    steps:
      - name: Check-out code
        uses: actions/checkout@v2
      - name: Setup go
        uses: actions/setup-go@v2
        with:
          go-version: 1.14
        id: go
      - name: Spin-up lakeFS for testing
        run: docker-compose up --quiet-pull --build -d
        env:
          TAG: dev
          LAKEFS_BLOCKSTORE_TYPE: s3
          LAKEFS_STATS_ENABLED: false
      - name: Generate API code
        run: make gen-api
      - name: Run Nessie
        run: go build -v ./nessie --args --system-tests
        env:
          API_ENDPOINT: http://localhost:8000
      - name: Export DB
        if: ${{ always() }}
        run: |
          docker-compose exec postgres pg_dumpall --username=lakefs | gzip | aws s3 cp - $BUCKET/dump.gz
