name: Publish Spark metadata client
on:
  workflow_dispatch:

# These permissions are needed to interact with GitHub's OIDC Token endpoint.
permissions:
  id-token: write
  contents: read

jobs:
  publish-spark-metadata-client:
    name: Publish Spark metadata client
    runs-on: ubuntu-22.04
    environment: Treeverse signing
    steps:
      - name: Check-out code
        uses: actions/checkout@v6

      - uses: actions/setup-java@v5
        with:
          distribution: 'adopt-hotspot'
          java-version: '8'
          cache: 'sbt'

      - name: validate format
        working-directory: clients/spark
        run: sbt scalafmtCheck

      - name: validate unused
        working-directory: clients/spark
        run: sbt "scalafix --check"

      - name: Install secret key for signing
        run: |
          echo -e '${{ secrets.OSSRH_GPG_SECRET_KEY }}' | gpg --batch --import
          gpg --list-secret-keys --keyid-format LONG

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v6
        with:
          aws-region: us-east-1
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}

      - name: SBT release (Maven Central, AWS)
        run: make publish-scala
        env:
          S3_PUBLISH_BUCKET: treeverse-clients-us-east
          PGP_PASSPHRASE: ""
          PGP_SECRET: ${{ secrets.OSSRH_GPG_SECRET_KEY }}
          SONATYPE_USERNAME: ${{ secrets.MAVEN_USERNAME }}
          SONATYPE_PASSWORD: ${{ secrets.MAVEN_PASSWORD }}
