name: publish hadoop lakefs

on:
  release:
    types: [published]
  workflow_dispatch:
    inputs:
      tag:
        description: Tag/version to publish
  push:
    branches:
      - chore/publish-hadoopfs

jobs:
  deploy:
    runs-on: ubuntu-20.04
    environment: Treeverse signing
    steps:
      - name: Checkout
        uses: actions/checkout@v2

        # Extract the version to 'version' based on workflow_dispatch or triggered tag in the published event
      - name: Extract version
        shell: bash
        run: |
          if [ "${{ github.event.inputs.tag }}" != "" ]; then
            echo "::set-output name=tag::$(echo ${{ github.event.inputs.tag }} | sed s/^v//)"
          else
            echo "::set-output name=tag::$(echo ${GITHUB_REF##*/} | sed s/^v//)"
          fi
        id: version

      - name: Install secret key for signing
        run: |
          cat <(echo -e '${{ secrets.OSSRH_GPG_SECRET_KEY }}') | gpg --batch --import
          gpg --list-secret-keys --keyid-format LONG

      - name: Set up Java and Maven Central Repository
        uses: actions/setup-java@v2
        with:
          java-version: '8'
          distribution: 'adopt'
          server-id: ossrh
          server-username: MAVEN_USERNAME
          server-password: MAVEN_PASSWORD

      - name: Deploy hadoop-lakefs
        working-directory: clients/hadoopfs
        run: |
          sed -i.bak 's/<version>.*<\/version><!--MARKER.*/<version>${{ steps.version.outputs.tag }}<\/version>/' clients/hadoopfs/pom.xml
          mvn --batch-mode deploy -Dgpg.executable="${GITHUB_WORKSPACE}/scripts/gpg_loopback.sh"
        env:
          MAVEN_USERNAME: ${{ secrets.OSSRH_USERNAME }}
          MAVEN_PASSWORD: ${{ secrets.OSSRH_TOKEN }}
