name: Unit Test Python SDK Wrapper
on:
  push:
    branches:
      - master
  pull_request:

jobs:
  paths-filter:
    runs-on: ubuntu-22.04
    outputs:
      wrapper-change: ${{ steps.filter.outputs.wrapper == 'true' }}
      sdk-change: ${{ steps.filter.outputs.sdk == 'true' }}
    steps:
      - uses: actions/checkout@v6
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            wrapper: 
              - 'clients/python-wrapper/**'
              - '.github/workflows/python-wrapper-unit-tests.yaml'
            sdk:
              - 'clients/python/**'

  always-succeed:
    needs: paths-filter
    if: ${{ needs.paths-filter.outputs.wrapper-change != 'true' }}
    name: Unit Test Python SDK Wrapper
    runs-on: ubuntu-22.04
    steps:
      - name: Always Succeed
        run: echo "No changes in client - skipping unit tests"

  unit-tests:
    needs: paths-filter
    strategy:
      fail-fast: false
      matrix:
        pydantic_v1: [ true, false ]
        pyv: [ "3.10", "3.14" ]
    name: Unit Test Python SDK Wrapper
    runs-on: ubuntu-22.04
    steps:
      - name: Check out code
        uses: actions/checkout@v6

      # The minimal supported version of Python is 3.9, so we need to test it in this environment
      - name: Set up Python ${{ matrix.pyv }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.pyv }}

      # When installed it will skip the installation of pydantic in the next step which will install the latest > 2
      - name: Install pydantic V1
        if: matrix.pydantic_v1
        run: pip install pydantic==1.10.26

      - name: Install dependencies
        working-directory: ./clients/python-wrapper
        run: pip install -r requirements.txt pylint pytest pytest-md pytest-emoji

      - if: ${{ !matrix.pydantic_v1 && matrix.pyv == '3.14' }}
        run: pip install pydantic==2.13.0b2

      - name: Generate Documentation
        run: make python-wrapper-gen-docs

      - name: Validate Documentation
        run: make validate-python-wrapper

      - name: Run Pylint
        run: make python-wrapper-lint

      - name: Run Unit Tests
        uses: pavelzw/pytest-action@v2
        with:
          verbose: true
          emoji: true
          job-summary: true
          custom-arguments: './clients/python-wrapper/tests/utests -q -We'
          click-to-expand: true
          report-title: 'Python Wrapper Unit Tests Report'

  unit-tests-new-sdk:
    needs: paths-filter
    strategy:
      fail-fast: false
      matrix:
        pydantic_v1: [ true, false ]
        pyv: [ "3.10", "3.14" ]
    name: Unit Test Python SDK Wrapper - SDK Changes
    runs-on: ubuntu-22.04
    steps:
      - name: Check out code
        uses: actions/checkout@v6

      - name: Set up Python ${{ matrix.pyv }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.pyv }}

      # When installed it will skip the installation of pydantic in the next step which will install the latest > 2
      - name: Install pydantic V1
        if: matrix.pydantic_v1
        run: pip install pydantic==1.10.26

      - name: Install dependencies
        working-directory: ./clients/python-wrapper
        run: pip install -r requirements.txt pylint pytest pytest-md pytest-emoji

      - if: ${{ !matrix.pydantic_v1 && matrix.pyv == '3.14' }}
        run: pip install pydantic==2.13.0b2

      - name: build and install lakeFS Python SDK
        run: |
          PACKAGE_VERSION=0.0.0-dev make client-python
          pip install ./clients/python

      - name: Run Unit Tests
        uses: pavelzw/pytest-action@v2
        with:
          verbose: true
          emoji: true
          job-summary: true
          custom-arguments: './clients/python-wrapper/tests/utests'
          click-to-expand: true
          report-title: 'Python Wrapper Unit Tests SDK Changes Report'
