name: Security-Check
# Manually triggered workflow - Treeverse members should only invoke it after checking for malicious code changes in other workflows.

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  sec-check:
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo "Check passed!"
