name: Unit test Spark metadata client
on:
  push:
    paths:
      - "clients/spark/**"
    branches:
      - master
  pull_request:
jobs:
  spark-metadata-client:
    name: Spark client (${{ matrix.scala }}, Java ${{ matrix.java }})
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        include:
          - scala: "2.12.18"
            java: "8"
          - scala: "2.12.18"
            java: "17"
          - scala: "2.13.14"
            java: "17"
    steps:
      - name: Check-out code
        uses: actions/checkout@v6

      - uses: actions/setup-java@v5
        with:
          distribution: 'adopt-hotspot'
          java-version: ${{ matrix.java }}
          cache: 'sbt'

      - name: validate format
        working-directory: clients/spark
        run: sbt "++${{ matrix.scala }} scalafmtCheck"

      - name: run tests, validate and package
        working-directory: clients/spark
        run: sbt -Dspark.driver.bindAddress=127.0.0.1 -Dspark.driver.host=localhost "++${{ matrix.scala }} test" "++${{ matrix.scala }} scalafix --check" "++${{ matrix.scala }} package"
