name: Unit test Spark metadata client
on:
  push:
    paths:
      - "clients/spark/**"
    branches:
      - master
  pull_request:
jobs:
  spark-metadata-client:
    name: Unit test Spark metadata client
    runs-on: ubuntu-20.04
    steps:
      - name: Check-out code
        uses: actions/checkout@v3

      - name: Setup Scala
        uses: olafurpg/setup-scala@v13

      - name: run tests, validate and package
        working-directory: clients/spark
        run: sbt test scalafmtCheck "scalafix --check" package
