name: Test
on:
  push:
    branches:
      - master
  pull_request:
jobs:
  validator:
    name: Run Linters and Checkers
    runs-on: ubuntu-22.04
    steps:
      - name: Check-out code
        uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
      - uses: actions/setup-node@v4
        with:
          node-version: "22.17.x"
          cache: "npm"
          cache-dependency-path: webui/package-lock.json
      - uses: bufbuild/buf-setup-action@v1.50.0
        with:
          github_token: ${{ github.token }}
          version: 1.54.0
      - name: Generate code
        env:
          NODE_OPTIONS: "--max-old-space-size=4096"
        run: |
          make gen validate-clients-untracked-files
#      - name: Ensure Go workspace is synced
#        run: |
#          go work sync
#          echo "Git status after go work sync:"
#          git status
#          [ ! -n "$(git status --porcelain)" ]
      - name: Checks validator
        run: make checks-validator

  test-go:
    name: Run Go tests
    runs-on: ubuntu-22.04
    env:
      BENCHER_API_TOKEN: ${{ secrets.BENCHER_API_TOKEN }}
    steps:
      - name: Check-out code
        uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
      - name: Install Bencher
        uses: bencherdev/bencher@61e6a2c2e0b4c8f61c87bef598ba9dbafa51c689 # Stable digest for v0.5.8
        continue-on-error: true
      - name: Run Go tests
        run: |
          mkdir ./webui/dist
          touch ./webui/dist/index.html
          ref=${{ github.ref_name }}
          release_slug=$(uname -s -m | tr '[:upper:]' '[:lower:]' | sed 's/[ _]/-/g')
          bencher run --build-time \
                     --adapter json \
                      --project lakefs \
                      --branch "$ref" \
                      --testbed "github-${release_slug}" \
                      make test-go

  test-webui:
    name: Run webui unit tests
    runs-on: ubuntu-22.04
    steps:
      - name: Check-out code
        uses: actions/checkout@v4
      - name: Setup NodeJS
        uses: actions/setup-node@v6.1.0
        with:
          node-version-file: webui/package.json
          cache: npm
          cache-dependency-path: webui/package-lock.json
      - run: npm ci
        working-directory: webui
      - run: npm test
        working-directory: webui
