name: typescript-api-client

on:
  release:
    types: [released]
  workflow_dispatch:
    inputs:
      tag:
        description: Tag/version to publish
        required: true
      skip_publish_npm:
        description: Skip publishing to npm
        required: false
        default: 'false'

jobs:
  deploy:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # Extract the version to 'version' based on workflow_dispatch or triggered tag in the published event
      - name: Extract version
        shell: bash
        run: |
          if [ "${{ github.event.inputs.tag }}" != "" ]; then
            echo "tag=$(echo ${{ github.event.inputs.tag }} | sed s/^v//)" >> $GITHUB_OUTPUT
          else
            echo "tag=$(echo ${GITHUB_REF##*/} | sed s/^v//)" >> $GITHUB_OUTPUT
          fi
        id: version

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'
          registry-url: 'https://registry.npmjs.org'

      - name: Generate and build TypeScript client
        run: make client-typescript PACKAGE_VERSION=${{ steps.version.outputs.tag }}

      - name: Publish to npm
        if: ${{ inputs.skip_publish_npm != 'true' }}
        working-directory: clients/typescript
        run: npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
